<<<<<<< HEAD
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
 }

 html,body{
    height:100% ;
    width:100% ;
 }
#main{
    height: 100%;
    width: 100%;
    background-color: #111;
    color: #fff;
}
#nav {
    padding: 30px 70px;
}
#nav a {
    color: #fff;
text-decoration: none;
font-size: 25px;
margin-right: 30px;

}

#main>h1{
     font-size: 250px; 
      padding-left: 70px;
      font-weight: 400px;

}
#btmleft{
    width: 300px;
    position: absolute;
    bottom: 20%;
    left: 5%;
}

#btmleft h3{
font-size: 30px;

}
#btmleft p{
    font-size: 10px;
    margin-top: 5px;
}

#btmleft h4{
    margin-top: 50px;
    font-size: 30px;

}

#btmbar{
    display: flex;
    justify-content: space-between;
 width: 100%;
 padding: 30px 70px;
 position: absolute;
 bottom: 0;
 left: 0;
}
#btmbar a{
    color: #fff;
    text-decoration: none;
    font-size: 32px;
}
#main > img {
    position: absolute;
    height: 350px;
}

#main #first{
    height: 230px;
    top: 40%;
    left: 65%;
}
#main #second{
    height: 300px;
    top: 40%;
    left: 50%;
}
#main #third{
    height: 250px;
    top: 40%;
    left: 35%;
=======
@font-face {
    font-family: rusty;
    src: url(RUSTY\ ATTACK\ DEMO\ Regular.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-image:url(https://images.unsplash.com/photo-1672011012713-de07fc9ee8fc?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 80px;
}

h1{
    font-size: 100px;
    font-family: rusty;
    font-weight: 100;
    color: white;


}
button{
    font-size: 20px;
    padding: 20px 40px;
    color: white;
    background-color: transparent;
    border: 3px solid white;
    font-weight: 600;

>>>>>>> 51dc479407f52e1c860814eecbe4121fd83327ce
}